* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgba(218, 67, 67, 0.815);
}

.navegacao {
    background-color: rgb(56, 76, 165);
}

.secao {
    background-color: blueviolet;
}

.rodape {
    background-color: gray;
}

.rodape {
    background-color: beige;
}