* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgba(218, 67, 67, 0.815);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    background-color: rgb(56, 76, 165);
}

.secao {
    background-color: blueviolet;
}

.rodape {
    background-color: gray;
}

.rodape {
    background-color: beige;
}